:root {
    --primary-green: #1db954; 
    --black: #000000;
  }
  
  .button {
    background-color: var(--black);
    color: var(--primary-green);
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #222222; 
  }
  